body{
    font-family: Arial;
    font-size: 16px;
    margin: 0 auto;
    width: 810px;
}

header{
    /*background: url(../img/bg-header.png) no-repeat top center;*/
    height: 148px;
    margin: auto;
    position: relative;
    z-index: 1;
}
header #logo{
    height: 81px;
    margin: 0;
    padding: 0.87em 0 0 0.93em;
    transition: all 1s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
    width:127px;
}
header #logo:hover{
		transform: scale(0.98);
        -moz-transform: scale(0.98);
        -webkit-transform: scale(0.98);
        -o-transform: scale(0.98);
}

 /* Section Register */

#register{
	background-color: #6F153A;
    height: auto;
    position: relative;
    width: 100%;
    z-index: 1;
}
#register figure{
    position: relative;
    vertical-align: bottom;
    z-index: 2;
}
#register #frm-register{
    background-color: #FFFFFF;
    height: 600px;
    left: 225px;
    padding: 0.75em 3.06em 0 2.56em;
    position: relative;
    width: 451px;
    z-index: 1;
}
#register #frm-register h1{
    color: #fbeddb;
    font-family: 'itc_avant_garde_pro_bkdemiBd';
    font-size: 1.12em;
    font-weight: normal;
    margin: 0;
    text-align: center;
    text-shadow: 0.1em 0.1em #502c1d;
}
#register #frm-register label{
    color: #4f2c1e;
    display: block;
    font-family: 'itc_avant_garde_pro_bkdemiBd';
    font-size: 0.62em;
    font-weight: normal;
}
#register #frm-register input[type="text"]{
    background: url(../img/input.png) no-repeat;
    border: none;
    color: #616161;
    display: block;
    height: 27px;
    font-family: 'itc_avant_garde_pro_bkdemiBd';
    font-size: 0.9em;
    font-weight: normal;
    margin: 0.43em 0.87em 0.56em 0;
    padding: 0 0.7em;
    outline: none;
    width: 183px;
}
#register #frm-register #term-p{ color: #4f2c1e; }
#register #frm-register .submit{
    background: url(../img/btn-registrarme.png) no-repeat;
    border: none;
    bottom: 1em;
    cursor: pointer;
    height: 84px;
    left: 35%;
    outline: none;
    position: absolute;
    text-indent: -9999em;
    width: 169px;
}
#register #frm-register span{
    cursor: pointer;
    color: #616161;
    display: block;
    font-family: 'itc_avant_garde_pro_bkdemiBd';
    font-size: 0.9em;
    font-weight: normal;
    height: 27px;
    line-height: 3em;
    margin: 0.43em 0.87em 0.56em 0;
    padding: 0 2.7em 0 0.7em;
    text-shadow: none;
    z-index: 1;
}
#register #frm-register span.option{ background: url(../img/select.png) no-repeat; width: 161px; }
#register #frm-register select{
    color: #616161;
    cursor: pointer;
    display: block;
    font-family: 'itc_avant_garde_pro_bkdemiBd';
    font-size: 0.9em;
    font-weight: normal;
    padding: 0 2.7em 0 0.7em;
    position: absolute;
    text-indent: 5px;
}
#register #frm-register select.option{ height: 30px; width: 191px; }
#register #frm-register p{
    color: #502e1e;
    font-size: 0.75em;
    font-family: 'Tahoma';
    font-weight: normal;
    line-height: 15px;
    margin-top: 3.5em;
    text-align: center;
}
#register #frm-register p span{ display: block; }
#register #frm-register .message{ color: red; display: none; }
/* END Section Register */

.inline{ display: inline-block; vertical-align: top; }
.parsley-error-list{ margin: 0; padding: 0; }
.relative{ position: relative; }
.wrapper{
    background: url(../img/bg-body.jpg) no-repeat top center;
    height:670px;
    position: relative;
}

#register #frm-register article{ padding: 5em 1.5em 0; }
#register #frm-register article strong{ display: block; color: #502e1e; }
#register #frm-register article p{
    font-size: 1.12em;
    line-height: 18px;
    color: #434343;
}
/*Modal Popup*/
#simplemodal-overlay {background-color:#000;}